// Structure
// ------------------------------------------- /
$max-width: rem(1128) !global;
$grid-columns: 12 !global;

$container_padding: rem(64);

// Breakpoints
// ------------------------------------------- /
$sm: 500px;
$md: 768px;
$lg: 1000px;
$xl: 1500px;

// Colors
// ------------------------------------------- /

// Primary
$blue: #1d374a;
$red: #e74949;
$tan: #dddad5;
$gold: #dda538;
// Neutrals
$dark-gray: #272727;
$gray: #898989;
$light-gray: #f0efed;

$color_map: (
	// Primary
	'blue'				: $blue,
	'red'				: $red,
	'tan'			    : $tan,
	'gold'			    : $gold,
	// Neutrals
	'black'				: black,
    'dark-gray'         : $dark-gray,
    'gray'              : $gray,
    'light-gray'        : $light-gray,
	'white'				: white,
);

$color-text-main: black;

$color-link: black;
$color-link-visited: black;
$color-link-hover: $blue;

$color-code: black;

$color-blockquote: black;

$color-background-body: white;
$color-background-hr: lightgray;
$color-background-pre: #eeeeee;

$color-background-selection: $blue;
$color-selection-text: white;

$color-btn: $color-text-main;
$color-btn-hover: $color-text-main;
$color-btn-bg: lightgray;
$color-btn-bg-hover: gray;
$color-btn-disabled: gray;
$color-btn-disabled-bg: lightgray;

$color-border-input: black;
$color-border-input-hover: $dark-gray;
$color-border-input-focus: black;

$color-text-input: black;
$color-text-input-hover: $dark-gray;
$color-text-input-focus: black;

$color-text-muted: lightgray;

$color-facebook: #3b5997;
$color-twitter: #55abed;
$color-youtube: #cd201f;
$color-linkedin: #0077b4;
$color-google: #f44336;


// Typography
// ------------------------------------------- /
@import url("//hello.myfonts.net/count/33e42b");

@font-face {
    font-family: 'RamaGothicE-Heavy';
    src: url('../fonts/33E42B_0_0.eot');
    src: url('../fonts/33E42B_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/33E42B_0_0.woff2') format('woff2'),url('../fonts/33E42B_0_0.woff') format('woff'),url('../fonts/33E42B_0_0.ttf') format('truetype');
}
 
@font-face {
    font-family: 'RamaSlabM-Bold';
    src: url('../fonts/33E42B_1_0.eot');
    src: url('../fonts/33E42B_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/33E42B_1_0.woff2') format('woff2'),url('../fonts/33E42B_1_0.woff') format('woff'),url('../fonts/33E42B_1_0.ttf') format('truetype');
}

$rama-gothic: RamaGothicE-Heavy;
$rama-slab: RamaSlabM-Bold;

$font-code: "Menlo", monospace;
$font-pre: "Menlo", monospace;
$leading: 1rem;
$font-line-height-pre: 1.6rem;


// Tables
// ------------------------------------------- /
$table-bg: transparent;
$table-bg-accent: gray;
$table-bg-hover: gray;
$table-bg-nested: transparent;
$table-cell-padding: 0.5em;
$line-height-base: $leading;
$table-border-color: #d8d8d8;
$table-condensed-cell-padding: 5px;
