div.zabuto_calendar {
    .events--calendar-aside & {
        margin-bottom: 2rem;
    }
    .badge-today,
    div.legend span.badge-today {
        background-color: $red;
        color: #ffffff;
        text-shadow: none;
        border: 0px solid;
        border-radius: 18px;
        padding: 3px 9px;
        .events--calendar-aside & {
            background-color: $red;
        }
    }
}

.events--calendar-aside {
    width: 100%;
    margin-bottom: 4rem;
    .module--calendar & {
        @include media($md) {
            width: 30%;
            margin-bottom: 0;
        }
    }
    &.calendar--aside-scrolled {
        .events--aside-calendar-terms {
            @include media($md) {
                position: fixed;
                transform: translateY(-7rem);
                z-index: 20;
            }
        }
    }
    .events--aside-calendar-terms {
        width: 100%;
        max-width: 26rem;
        margin: 0 auto;
        @include media($md) {
            margin: 0;
            position: fixed;
            transform: translateY(0rem);
            transition: transform .25s cubic-bezier(1, 0, 0, 1) 150ms;
            width: 18rem;
            max-width: 30%;
            //transform .25s cubic-bezier(.12, .94, .37, 1) .s;
        }
    }
}

.calendar--events-list {
    width: 100%;
    .module--calendar & {
        @include media($md) {
            width: 60%;
        }
    }
}

.calendar--event-item {
    @include display(flex);
    @include flex-direction(row);
    border: 1px solid #a6a4a0;
    transition: all .3s ease;
    margin-top: -1px;
    &.event--firstofmonth {
        margin-top: 8px;
    }
    &.item--sortby-active {
        display: block;
    }
    &:hover {
        background-color: $red;
        border-color: $red;
        cursor: pointer;
    }
    .event--date {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);
        align-self: center;
        height: 9rem;
        min-width: 6rem;
        padding: 1.8rem;
        transition: color .3s ease;
        @at-root #{selector-replace(&, '.calendar--event-item', '.calendar--event-item:hover')} {
            color: white;
            transition: color .3s ease;
        }
        .h2 {
            transition: color .3s ease;
            @at-root #{selector-replace(&, '.calendar--event-item', '.calendar--event-item:hover')} {
                transition: color .3s ease;
                color: white!important;
            }
        }
        @include media($md) {
            min-width: 9rem;
        }
    }
    .event--content {
        @include display(flex);
        @include justify-content(center);
        @include flex-direction(column);
        flex: 1 1 80%;
        padding: 1rem;
        .event--title {
            line-height: 1;
            padding-bottom: .6rem;
            a {
                font-family: RamaGothicE-Heavy;
                text-transform: uppercase;
                font-size: 2rem;
                text-decoration: none;
                color: $color-text-main;
                line-height: 1;
                transition: color .3s ease;
                @at-root #{selector-replace(&, '.calendar--event-item', '.calendar--event-item:hover')} {
                    transition: color .3s ease;
                    color: white;
                }
                &:hover {
                    /*text-decoration: underline;
                    color: $dark-gray*/
                }
            }
        }
        .event--taxonomies,
        .event--details {
            font-family: "Miller Text Rom", Georgia, serif;
            font-style: Normal;
            font-weight: Normal;
            font-size: 1rem;
            transition: color .3s ease;
            @at-root #{selector-replace(&, '.calendar--event-item', '.calendar--event-item:hover')} {
                transition: color .3s ease;
                color: white;
            }
        }
        .event--taxonomies {
            font-weight: bold;
        }
    }
}

.events--calendar-terms {
    padding-left: 8px;
    .calendar--term-item {
        color: gray;
        margin: rem(6) 0;
        font-size: 1rem;
        span {
            color: gray;
            font-size: .9rem;
            transition: color .275s;
        }
        &.calendar--term-checked {
            span {
                transition: color .275s;
                color: $color-text-main;
            }
        }
        input[type="checkbox"] {
            margin: 0 rem(8) 0 0;
        }
    }
}