.site-footer {
    a {
        color: white;
        @extend .u-font-miller;
        &:hover {
            color: $red;
        }
    }
    input[type="text"] {
        padding: .375rem;
        &:focus {
            outline: 0;
        }
    }
}
.footer-row {
    @include display(flex);
    @include flex-wrap(wrap);
    @extend .u-py-2;
    &+& {
        border-top: 1px solid rgba(255,255,255,.15);
    }
}
.footer-column {
    flex: 0 100%;
    color: white;
    text-align: center;
    @include media($md) {
        flex: 1 0 50%;
        text-align: left;
        &.footer-social
        {
            flex: 1 0 30%;
        }
    }
}
.footer-nav {
    @extend .u-mt-2;
    @include media($md) {
        margin-top: 0;
    }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .footer-nav-menu-col
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 2rem;
        a
        {
            text-align: left;
        }
    }
}
.footer-menu {
    @include display(flex);
    @include flex-wrap(wrap);
    .menu-item {
        flex: 0 100%;
        text-align: center;
        @include media($md) {
            flex: 1 0 33.33333%;
            text-align: left;
            &:nth-child(2n) {
                flex: 1 0 66.66667%;
            }
        }
    }
}
.social__item {
    display: inline-block;
    a {
        display: block;
        font-size: rem(24);
    }
    &+& {
        @extend .u-ml-1;
    }
}
.newsletter {
    @extend .u-display-none;
    @extend .u-flex-items-center;
    @extend .u-flex-justify-between;
    @include media($md) {
        @include display(flex);
        flex: 1 0 auto;
        @include justify-content(flex-end);
    }

    @include media($md)
    {
        .newsletter--label
        {
            display: flex;
            flex: 0 0 30%;
            align-self: center;
        }
    }
}
.copyright {
    @extend .u-font-miller-bold;
    @extend .u-caps;
    @extend .u-font-size-xs;
    @extend .u-color-tan;
}

.site-footer a.icon-facebook:hover
{
    color:#3B5998;
}

.site-footer a.icon-twitter:hover
{
    color:#00aced;
}

.site-footer a.icon-youtuve:hover
{
    color: #CD201F;
}