body.home {
    .preface {
        padding-top: 0;
        @include media($md) {
            padding-top: 3rem!important;
            padding-bottom: 1.5rem;
        }
    }
    .preface-text {
        @extend .h4;
        text-align: left;        
        p {
            margin-top: 0;
        }
        @include media($md) {
            margin: 0;
            display: flex;
            flex: 1;
            padding-left: 2rem;
            padding-top: 0;
        }
    }
    .card-content
    { 
        @include media($md)
        {
            padding: 0 4rem;

            .h2,
            h2,
            h3,
            .h3
            {
                font-size: 5.5rem;
            }
        }
    }
    .life-links-section {
        .module__body {
            ul {
                width: 60%;
                padding-left: 0;
                padding-bottom: 1rem;
                background-size: cover;
                background-position: center;
                @extend .u-transition-300;
            }
        }
    }
}
