body.home {
    .preface {
        padding-top: 0;
        @include media($md) {
            padding-top: 6.75rem!important;
        }
    }
    .preface-text {
        @extend .h4;
        text-align: left;
        p {
            margin-top: 0;
        }
        @include media($md) {
            margin-left: rem(320);
        }
    }

    .card-content
    { 
        @include media($md)
        {
            padding: 0 4rem;

            .h2,
            h2,
            h3,
            .h3
            {
                font-size: 5.5rem;
            }
        }
    }
}
