body.home {
    .preface {
        padding-top: 0;
        @include media($md) {
            padding-top: 6.75rem;
        }
    }
    .preface-text {
        @extend .h4;
        text-align: left;
        p {
            margin-top: 0;
        }
        @include media($md) {
            margin-left: rem(320);
        }
    }
}
