.site-header {
    @extend .u-font-miller-bold;
    padding: rem(6) 0;
    font-size: rem(10);
    text-transform: uppercase;
    pointer-events: initial;
}

.open--hours
{
    .site-header &
    {        
        width: 100%;
        text-align: center;
        position: relative;

        @include media($md)
        {
            position: absolute;
            top: 0;
            left: 0;            
        }
    }
}

.site-header__content {
    @include display(flex);
    @include justify-content(center);
    color: $tan;
    @include media($md) {
        @include justify-content(space-between);
    }
}
.site-nav {
    @extend .u-py-1;
    @extend .u-mr-3;
    padding-bottom: 0.4rem;
    
    ul
    {
        margin: 0;
        list-style: none;
    }

    @include media($md)
    {
        padding-bottom: 1rem;
    }
}
.site-menu {
    @include position(relative);
    @include display(inline-block);
    min-width: 20rem;
    width: 100%;
    background: $tan;
    pointer-events: auto;
    min-height: 100px;
    @include media($md) {
        width : auto;
        
        &::before {
            content: '';
            @include position(absolute);
            top: 0;
            bottom: 0;
            width: 100vw;
            right: 100%;
            background: $tan;
        }
    }
}
.search-toggle {
    color: $tan;
    &:hover {
        color: $red;
    }
    &:focus {
        color: $tan;
    }
}
.site-search {
    display: none;
    .search-open & {
        display: block;
    }
    .search-form {
        @include display(flex);
        label {
            flex: 0 100%;
        }
        .search-field {
            width: 100%;
            @extend .u-py-1;
            background: transparent;
            border: none;
            color: white;
            &:focus {
                outline: 0;
            }
        }
        .search-submit {
            background: transparent;
            border: none;
            color: $gray;
            @extend .u-transition-300;
            &:hover {
                color: $red;
            }
        }
    }
}
.header-logo {
    width: rem(192);
}
.site-menu-toggle {
    @extend .u-display-block-md;
    @include position(absolute);
    bottom: 0;
    right: 0;
    color: shade( $tan, 25% );
    @extend .u-transition-300;

    padding: .5rem 1rem 1.5rem 1rem;

    &:hover {
        color: $red;
    }
    &:focus {
        outline: 0;
    }
    .site-menu.is-expanded & {
        transform: rotate(180deg);
        padding: 1.5rem 1rem 0.5rem 1rem;
    }
}
.site-mobile-menu-toggle {
    @extend .u-display-none-md;
    position: absolute;
    right: 0;
    top: 2.6rem;
    width: 1.675rem;
    height: rem(24);
    padding: 0;
    span {
        position: absolute;
        left: 0;
        width: 1.675rem;
        height: rem(4);
        background-color: $dark-gray;
        @extend .u-transition-300;
        &:nth-child(1) {
            transform-origin: 0 100%;
            top: 0;
        }
        &:nth-child(2) {
            top: rem(10);
        }
        &:nth-child(3) {
            transform-origin: 0 0;
            bottom: 0;
        }
    }
    .site-menu.is-expanded & {
        span {
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}
// Menu toggle behaviour
.header-menu {
    @include display(none);
    height: 0%;
    transition: height 300ms ease;
    transition-delay: 600ms;
    .sub-menu {
        &.is-expanded {
            @include display(block);
        }
    }
    @include media($md) {
        @include display(block);
        transition: height 300ms ease;
        transition-delay: 600ms;  
-webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
     -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
        transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
     -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
        transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */            
        height: 0%;      
    }
}
.site-menu.is-expanded {
    .header-menu {
        @include display(block);
        height: 100%;
        transition: height 300ms ease;
        transition-delay: 100ms;
-webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
     -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
        transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
     -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
        transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */            
    }
    .menu-item {
        @include display(block);
        &.current-menu-item {
            a {
                color: $red;
            }
        }
        .sub-menu .menu-item {
            @include display(none);
        }
        .sub-menu.is-expanded .menu-item {
            @include display(block);
        }
    }
}

/*

body.home {
    .menu-item {
        @include display(block);
        .sub-menu .menu-item {
            @include display(none);
        }
        .sub-menu.is-expanded .menu-item {
            @include display(block);
        }
    }
    .masthead--collapsed {
        .header-menu {
            @include display(none);
        }
        .site-nav {
            width: 0;
        }
        .site-menu.is-expanded {
            .header-menu {
                @include display(block);
            }
            .site-nav {
                width: auto;
            }
            .hbsc-logo {
                @include transform(translateX(0));
            transition: transform 300ms ease;
            transition-delay: 200ms;                
                .logotype {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
*/