.site-header {
    @extend .u-font-miller-bold;
    padding: rem(6) 0;
    font-size: rem(10);
    text-transform: uppercase;
    pointer-events: initial;
}

.open--hours {
    .site-header & {
        width: 100%;
        text-align: center;
        position: relative;
        @include media($md) {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.site-header__content {
    @include display(flex);
    @include justify-content(center);
    color: $tan;
    @include media($md) {
        @include justify-content(space-between);
    }
}

.site-nav {
    @extend .u-py-1;
    padding-bottom: 0.4rem;
    padding-right: 6rem;
    position: relative;
    display: inline-block;
          

        body.home .masterhead.masterhead--collapsed &
        {
            @include media($md)
            {             
                padding-top: 1rem;
            }
        }

        body.home .masterhead .section__body .site-menu.menu--body &,
        .site-menu.menu--body &
        {
            @include media($md)
            {            
                padding-top: 0rem;
            }
        }          
        
    z-index: 10;
    ul {
        margin: 0;
        list-style: none;
    }
    @include media($md) {
        padding-right: 3rem;
    }
}

.site-menu {
    @include position(relative);
    background: $tan;
    pointer-events: auto;
    padding: 0 0 0 2rem;
    transition: all .4s cubic-bezier(.12, .94, .37, 1);
    transform: translateX(0%);
    min-height: rem(92);
    overflow: hidden;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.05);
    /*border: 1px solid rgba(0, 0, 0, 0.05);*/
    @include media($md) {
        /*max-width: rem(384);*/
        padding-left: 9rem;
        display: inline-block;
        &::before {
            content: '';
            @include position(absolute);
            top: 0;
            bottom: 0;
            left: 0;
            width: 11vw;
            z-index: 0;
            background: $tan;
        }
    }

    &.menu--body
    {     
        display: none;
        @include media($md)
        {
            display: flex;
            flex: 0 1 1;
            box-shadow: none;
            padding-left: 0;
            overflow: initial;
            padding-top: 0rem;            
        }
    }

    body.home .masthead &,
    body.menu--no-current-page-item .masthead &,
    body .masthead & {
        @include media($md) {
            /*min-width: 26rem;*/
            max-width: 26rem;
            transition: width .4s cubic-bezier(.12, .94, .37, 1);
        }
    }
    body.home .masthead--collapsed.masthead &,
    body.menu--no-current-page-item .masthead--collapsed.masthead & {
        @include media($md) {
            display: flex;
            max-width: 12rem;
            transition: width .4s cubic-bezier(.12, .94, .37, 1),transform .4s cubic-bezier(.12, .94, .37, 1);            
            transform: translateX(0%);
        }
    }

    body.home .masthead--collapsed.masthead .site-menu.is-expanded &,
    body.menu--no-current-page-item .masthead--collapsed.masthead .site-menu.is-expanded & {
        @include media($md) {
            /*width: 12rem;*/
            max-width: 100%;
            transition: width .4s cubic-bezier(.12, .94, .37, 1);
        }
    }
    &.is-expanded {
        body.home .masthead &
        {
            @include media($md) {
                width: 12rem;
                height: 5.75rem
            }
        }
        body.menu--no-current-page-item .masthead &,
        body .masthead & {
            @include media($md) {
                /*min-width: 26rem;*/
                max-width: 32rem;
                transition: width .4s cubic-bezier(.12, .94, .37, 1),transform .4s cubic-bezier(.12, .94, .37, 1);            
                transform: translateX(0%);
            }
        }
        body.home .masthead--collapsed.masthead &,
        body.menu--no-current-page-item .masthead--collapsed.masthead & {
            @include media($md) {
                /*width: 26rem;*/
                max-width: 100%;
                transition: width .4s cubic-bezier(.12, .94, .37, 1);
            }
        }
    }
}

.search-toggle {
    color: $tan;
    &:hover {
        color: $red;
    }
    &:focus {
        color: $tan;
    }
}

.site-search {
    /*display: none;*/
    height: rem(0);
    overflow: hidden;
    transition: height .25s cubic-bezier(1, 0, 0, 1) 150ms;
    .search-open & {
        display: block;
        height: rem(58);
    }
    .search-form {
        @include display(flex);
        label {
            flex: 0 100%;
        }
        .search-field {
            width: 100%;
            @extend .u-py-1;
            background: transparent;
            border: none;
            color: white;
            &:focus {
                outline: 0;
            }
        }
        .search-submit {
            background: transparent;
            border: none;
            color: $gray;
            @extend .u-transition-300;
            &:hover {
                color: $red;
            }
        }
    }
}

.header-logo {
    width: rem(192);
}

.site-menu-toggle {
    @extend .u-display-block-md;
    @include position(absolute);
    bottom: 0.8rem;
    right: 1rem;
    color: shade( $tan, 25%);
    @extend .u-transition-300;
    padding: 0;
    z-index: 50;
    &:hover {
        color: $red;
    }
    &:focus {
        outline: 0;
    }
    .site-menu.is-expanded & {
        transform: rotate(180deg);
        padding: 0;
    }
    body.home .masterhead & {
        opacity: 0;
        transition: opacity .3s;
    }
    body.home .mastheadmasthead--collapsed & {
        opacity: 1;
        transition: opacity .3s;
    }
}

.site-mobile-menu-toggle {
    @extend .u-display-none-md;
    position: absolute;
    right: 2rem;
    top: calc(50px - .75rem);
    width: 1.675rem;
    height: rem(24);
    padding: 0;
    z-index: 50;
    span {
        position: absolute;
        left: 0;
        width: 1.675rem;
        height: rem(4);
        background-color: $dark-gray;
        @extend .u-transition-300;
        &:nth-child(1) {
            transform-origin: 0 100%;
            top: 0;
        }
        &:nth-child(2) {
            top: rem(10);
        }
        &:nth-child(3) {
            transform-origin: 0 0;
            bottom: 0;
        }
    }
    .site-menu.is-expanded & {
        span {
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}

.item--active {
    height: auto;
    transform: scaleY(1);
    border-top: 1px solid rgba(199, 196, 192, 1);
    transition: all .3s cubic-bezier(1, 0, 0, 1);
}

// Menu toggle behaviour
.header-menu {
    .sub-menu {
        @include display(block);
        transform: scaleY(0);
        height: auto;
        transition: transform 0.28s cubic-bezier(0.12, 0.94, 0.37, 1) .1s, opacity .1s linear;
        transform-origin: 0% 0%;
        &.is-expanded {
           transform: scaleY(1);
            transition: transform 0.28s cubic-bezier(0.12, 0.94, 0.37, 1) .1s, opacity .1s linear;
            transform-origin: 0% 0%;            
        }
    }
    @include media($md) {
        @include display(block);
        transition: all .25s cubic-bezier(1, 0, 0, 1) 150ms;
        .masthead .site-menu.is-expanded & {
            transition: all .3s cubic-bezier(1, 0, 0, 1);
        }
        .masthead.masthead--collapsed .site-menu.is-expanded &,
        .masthead.masthead--collapsed .site-menu & {
            margin-top: -3.38rem;
            transition: all .25s cubic-bezier(1, 0, 0, 1) 150ms;
        }
    }
}

.site-menu.is-expanded {
    .header-menu {
        @include display(block);
        height: 100%;
        transition: height .4s cubic-bezier(.12, .94, .37, 1), margin .4s cubic-bezier(.12, .94, .37, 1);
        /*transition: all .2s cubic-bezier(1, 0, 0, 1) .1s;*/
        .masterhead.masterhead--collapsed & {
            transition: all .2s cubic-bezier(1, 0, 0, 1) .3s;
            margin-top: 0;
        }
    }
    .menu-item {
        @include display(block);
        height: auto;
        transform: scaleY(1);
        transition: transform 0.28s cubic-bezier(0.12, 0.94, 0.37, 1) .1s, opacity .1s linear;
        border-top: 1px solid #c7c4c0;
        margin-top: -1px;
        opacity: 1;
        transform-origin: 50% 50%;
        &.sub-menu-item-expanded {
            height: auto;
            transform: scaleY(1);
            transition: transform 0.28s cubic-bezier(0.12, 0.94, 0.37, 1) .1s, opacity .1s linear;
            transform-origin: 50% 50%;
        }
        &.current-menu-item {
            height: auto;
            transform: scaleY(1);
            transition: transform 0.28s cubic-bezier(0.12, 0.94, 0.37, 1) .1s, opacity .1s linear;
            transform-origin: 50% 50%;
            .masthead & {
                height: auto;
            }
            a {
                color: $red;
            }
        }
        .sub-menu .menu-item {
            /*@include display(none);*/
            height: auto;
            transform: scaleY(0);
            overflow: hidden;
            transition: all .3s cubic-bezier(1, 0, 0, 1);
            border-top: 1px solid rgba(199, 196, 192, 0);
            margin-top: -1px;
            transition: transform 0.28s cubic-bezier(0.12, 0.94, 0.37, 1) .1s, opacity .1s linear;            
            transform-origin: 50% 50%;
        }        
        &.current-menu-parent {
            &.sub-menu-item-expanded {
                height: auto;
                transform: scaleY(1);
                transition: transform 0.28s cubic-bezier(0.12, 0.94, 0.37, 1) .1s, opacity .1s linear;            
                transform-origin: 0% 0%;
            }
            .sub-menu.is-expanded .menu-item {
                /*height: 2rem;*/
                height: auto;
                transform: scaleY(1);
                border-top: 1px solid rgba(199, 196, 192, 1);
                transition: transform 0.28s cubic-bezier(0.12, 0.94, 0.37, 1) .1s, opacity .1s linear;            
                transform-origin: 50% 50%;
            }

            .sub-menu .menu-item
            {
                transform: scaleY(1);
                transition: transform 0.28s cubic-bezier(0.12, 0.94, 0.37, 1) .1s, opacity .1s linear;
                transform-origin: 50% 50%;                
            }
        }
        .sub-menu.is-expanded .menu-item {
            @include display(block);
            /*height: 2rem;*/
            height: auto;
            transform: scaleY(1);
            transition: transform 0.28s cubic-bezier(0.12, 0.94, 0.37, 1) .1s;
            border-top: 1px solid rgba(199, 196, 192, 1);
            transform-origin: 50% 50%;
        }
    }
}

.masterhead .sub-menu .menu-item {
    @include display(block);
    height: auto;
    transform: scaleY(0);
    transition: transform .4s cubic-bezier(.12, .94, .37, 1);
    border-top: 1px solid rgba(199, 196, 192, 1);
    transform-origin: 50% 50%;
}

.masterhead--collapsed .sub-menu.is-expanded .menu-item {
    @include display(block);
    height: auto;
    transform: scaleY(1);
    transition: transform .4s cubic-bezier(.12, .94, .37, 1);
    transform-origin: 50% 50%;
    border-top: 1px solid rgba(199, 196, 192, 1);
    width: 100%;
}

.site-menu .menu-item.current-menu-parent.sub-menu-item-expanded .sub-menu.is-expanded .menu-item.current-menu-item a {
    color: $red;
    height: auto;
}

body.home .masthead .site-menu.is-expanded .site-menu-toggle {
    visibility: hidden;
}

body.home .masthead.masthead--collapsed .site-menu .site-menu-toggle,
body.home .masthead.masthead--collapsed.site-menu.is-expanded .site-menu-toggle {
    visibility: visible;
}

body.home .masthead .site-menu
{
    @include media($md) 
    {
        display:flex;
        transform: translateX(-100%);
    }
}

body.home .masthead.masterhead--collapsed .site-menu.is-expanded,
body.home .masthead .site-menu.menu--body
{
    @include media($md)
    {
        display:flex;
        transform: translateX(0%);
    }
}

body.home .masterhead .site-menu
{
    @include media($md)
    {    
        width:12rem;
    }
}

.sub-menu
{
    height: auto;
    transform: scaleY(1);
    transition: transform 0.28s cubic-bezier(0.12, 0.94, 0.37, 1) .1s, opacity .1s linear;
    transform-origin: 0% 0%;
}

.header-menu .menu-item.current-menu-parent .sub-menu
{
    transform: scaleY(1);
    transition: transform 0.28s cubic-bezier(0.12, 0.94, 0.37, 1) .1s, opacity .1s linear;
    transform-origin: 0% 0%;
}

.header-menu .menu-item .sub-menu .menu-item
{
    transform: scaleY(0);
    transition: transform 0.28s cubic-bezier(0.12, 0.94, 0.37, 1) .1s, opacity .1s linear;
    transform-origin: 50% 50%;
} 

.header-menu .menu-item.current-menu-parent .sub-menu.is-expanded .menu-item
.header-menu .menu-item.current-menu-parent .sub-menu .menu-item.current-menu-item
{
    transform: scaleY(1);
    transition: transform 0.28s cubic-bezier(0.12, 0.94, 0.37, 1) .1s, opacity .1s linear;
    transform-origin: 50% 50%;
}

.site-menu .menu-item
{
    height: 
}
//sub-menu.is-expanded
.site-menu.is-expanded .menu-item
{
    height: auto;
    min-height: 2rem;   
    transform: scaleY(1);
    transition: transform 0.28s cubic-bezier(0.12, 0.94, 0.37, 1) .1s, opacity .1s linear;
    transform-origin: 50% 50%;     
}