.staff-member--item {
    position: relative;
    ul,
    li {
        list-style: none;
    }
    &.staff-member--item-active {
        .image--positionner {
            transition: opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1);
            opacity: 1;
        }
        .h2,
        .h3 {
            color: $red;
        }
    }
    .image--positionner {
        position: fixed;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0;
    }
    .h2,
    .h3 {
        position: relative;
        z-index: 10;
        color: $dark-gray;
        font-size: rem(48);
    }
}
