.badge-positioner {
    position: absolute;
    pointer-events: none;
    left: 0;
    bottom: 0;
    z-index: 10;

    .module--carousel & {
        left: 0;
        bottom: 0;
        z-index: 10;
    }

    .module--events-upcoming-inline &
    {
        left: calc(50% - 4.5rem);
        top:0;
        margin-top: -3rem;
    }

    .event--upcoming-item-left &
    {
        left: 0;
        z-index: 14;
        right: initial;
        bottom: initial;
        top: 2rem;

        @include media($md)
        {
            left: 7.25rem;
            right: initial;
            bottom: initial;
        }
    }

    .event--upcoming-item-right &
    {
        right: 0;
        left: auto;
        z-index: 14;
        bottom: initial;
        top: 2rem;

        @include media($md)
        {
            right: 7.25rem;
            left: auto;
            bottom: initial;
        }
    }

    .module--past-salons & {
      top: 0;
      bottom: initial;
      width: 100%;
      transform: translateY(-50%);
      @include media($sm) {
        top: 2.5rem;
        width: auto;
        transform: none;
      }
    }

    .module--post-list &
    {
        top: 0;
        position: relative;
        z-index: 18;
        max-width: 16rem;
        width: 60%;
        margin: 0 auto;
    }

    .badge {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);
        @include size(rem(144));
        @extend .u-bg-red;
        color: white;
        text-align: center;
        .module--carousel & {
            @extend .u-mb-3;
        }

        .module--past-salons &
        {
            @extend .u-bg-dark-gray;
            padding: 1rem 3rem;
            width: fit-content;
            margin: 0 auto;
        }

        .module--post-list &
        {
            @extend .u-bg-dark-gray;
            padding: 1rem 3rem;
            width: auto;
            height: auto;
        }

        .module--post-list &
        {
            padding: 1rem 2rem;
        }

        .module--events-upcoming-list &,
        .module--events-upcoming-inline &
        {
            .h2,
            span
            .u-caps
            {
                color: white;
            }
        }
    }
}
