button {
    background: none;
}
.button {
    @include display(inline-block);
    @extend .u-font-miller-bold;
    -webkit-appearance: none;
    background: none;
    font-size: 1rem;
    color: $dark-gray;
    padding: rem(8) rem(32);
    border: 1px solid rgba(0,0,0,.15);
    
    [class*='u-bg-'] &,
    .u-bg-red &,
    .u-bg-blue & {
        color: $tan;
        border-color: $tan;
    }
    .u-bg-white &,
    .u-bg-light-gray &,
    .u-bg-tan & {
        color: $dark-gray;
        border-color: rgba(0,0,0,.15);
    }

    .card.u-bg-red &,
    .card.u-bg-blue & {
        color: $tan;
        border-color: $tan;
    }

    .card.u-bg-white &,
    .card.u-bg-light-gray &,
    .card.u-bg-tan & 
    {
        color: $dark-gray;
        border-color: $dark-gray;
    }

    &:hover,
     {
        color: $red;
        border-color: $red;
    }

    .u-bg-red &:hover {
        color: $dark-gray;
        border-color: $dark-gray;
    }

    &+& {
        @extend .u-ml-1;
    }
    
    .module__sidebar & {
        @include media($md) {
            width: 100%;
            text-align: center;
        }
    }
}
@each $color-name, $hex in $color_map {
	.button--#{$color-name} {
        color: white !important;
    	background-color: $hex;
        &:hover {
            color: $hex !important;
            background-color: white !important;
            border-color: $hex !important;
        }
	}
}
.ui-button {
    font-size: 1rem;
    line-height: 1;
    @extend .u-pa-1;
    border: none;
    background: none;
    &:focus {
        outline: 0;
    }
    [class*='u-bg-'] & {
        color: $tan;
        border-color: $tan;
    }
    .u-bg-tan & {
        color: $dark-gray;
        border-color: rgba(0,0,0,.15);
    }
    &:hover {
        color: $red;
        border-color: $red;
    }
    .u-bg-red &:hover {
        color: $dark-gray;
        border-color: $dark-gray;
    }
}
