.card {
    @include display(flex);
    @include flex-direction(column);
    @extend .u-pa-3;
    text-align: center;
    &.has-badge {
        position: relative;
        margin-top: rem(72); // half of badge size
        padding-top: rem(72); // half of badge size
    }
    .module--carousel & {
        width: rem(360);
        min-height: rem(492);
        @extend .u-mt-3;
    }
}
.card-positioner {
    .module--hero & {
        width: 100%;
        padding-top: 50%;
        @include media($md) {
            width: 57.5%;
            padding-top: 0;
        }
    }
    .module--carousel & {
        float: right;
        position: relative;
        z-index: 10;
    }
}
.card-title {
    @extend .module-title;
}
.card-content {
    @extend .u-my-3;
    .module--carousel & {
        flex-grow: 1;
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
    }
    [class*='u-bg-'] & {
        color: white;
    }
    .u-bg-white &,
    .u-bg-light-gray &,
    .u-bg-tan & {
        color: $dark-gray;
    }
}
