/* Customization */
.carousel-slide__content {
    position: relative;
    @extend .u-clear;
    .image-positioner {
        max-width: rem(792);
        width: 100%;
        padding-left: rem(72); // half of badge size
        z-index: 0;
    }
    .image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 0;
        padding-bottom: 60%;
        @extend .u-transition-300;
        &.image--grayscale {
            @include filter(grayscale(100%));
        }
    }
}

.slick-controls {
    position: absolute;
    top: 50%;
    font-size: rem(32);
    @extend .u-transition-300;
    &.slick-prev {
        left: 0;
        @include transform(translate3d(-100%, -50%, 0));
    }
    &.slick-next {
        right: 0;
        @include transform(translate3d(100%, -50%, 0));
    }
}
.slick-slide {
    &:focus {
        outline: 0;
    }
}
.slick-dots {
    @extend .u-mt-1;
    text-align: center;
    li {
        @include display(inline-block);
        &+li {
            @extend .u-ml-1;
        }
        button {
            text-indent: -9999px;
            overflow: hidden;
            @include size(rem(16));
            line-height: 1;
            background: none;
            padding: 0;
            border: 1px solid white;
            border-radius: 50%;
            @extend .u-transition-300;
            &:hover {
                border-color: $red;
            }
            &:focus {
                outline: 0;
            }
        }
        &.slick-active button {
            background-color: white;
        }
        .u-bg-white &,
        .u-bg-light-gray &,
        .u-bg-tan & {
            button {
                border-color: $dark-gray;
            }
            button:hover {
                border-color: $red;
            }
            &.slick-active button {
                background-color: $dark-gray;
            }
        }
        .u-bg-red & {
            button:hover {
                border-color: $dark-gray;
            }
        }
    }
}
/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
