.event--upcoming-item
{
    margin-bottom: 4rem;
    overflow: hidden;
    width: 100%;

    @include media($md)
    {        
        overflow: initial;
        margin-bottom: 0rem;        
    }

    .module--events-upcoming-inline &
    {
        @include media($md)
        {
            width: 32%;
        }
    }
}

.event--past-salon-item
{
    width: 100%;
    margin-bottom: 4rem;

    @include media($md)
    {
        width: 46%;
    }    
}

.event--past-salon__content
{
    position: relative;

    .image-positioner
    {
        margin-left: 4rem;
        .image
        {
            min-height: 20rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;            
        }        
    }
}

.event--upcoming__content {
    position: relative;
    @extend .u-clear;

    .module--events-upcoming-inline &
    {
        @include media($md)
        {            
            /*display: flex;*/
        }
    }

    .image-positioner {
        width: 100%;
        z-index: 0;
        position: relative;
        .event--upcoming-item-right &
        {
            width : 100%;
            margin-left: -1.6rem;
            @include media($md)
            {
                padding-right: 18rem;                
                margin-left: 0;
            }
        }

        .event--upcoming-item-left &
        {
            width : 100%;
            margin-left: 1.6rem;
            @include media($md)
            {
                padding-left: 18rem;
                margin-left: 0;
            }
        }        

    }
    .image {
        background-size: cover;
        background-position: center;
        min-height: 30.75rem;
        @extend .u-transition-300;
    }
}

.event--upcoming-item-right
{
    padding-right : 0;

    @include media($md)
    {        
        margin-bottom: 8rem;
        padding-bottom: 5rem;
        padding-right: 4rem;
    }
}

.event--upcoming-item-left
{
    padding-left : 0;

    @include media($md)
    {
        padding-left: 4rem;
        margin-bottom: 8rem;
        padding-bottom: 5rem;
    }
}

.event--discussion-leaders
{
    @include justify-content(center);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include media($md)
    {
        @include justify-content(space-around);
        flex-direction: row;
    }

    .discussion-leader
    {
        width: 100%;

        .image
        {
            background-size: cover;
            background-position: center;
            padding-bottom: 80%;
        }

        @include media($md)
        {
            width: 40%;
            margin-bottom: 6rem;
        }
    }   
}