.b-input[type="radio"],
.b-input[type="checkbox"] {
    display: none;
}

.b-label {
    
    .b-input[type="radio"] + &,
    .b-input[type="checkbox"] + & {
        $radio-size: 24px;
        $radio-size-big: 40px;
        padding-left: $radio-size * 1.5;
        padding-bottom: 0;
        position: relative;        
        cursor: pointer;
        width: auto;
    
        &:before {  
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: $radio-size;
            height: $radio-size;
            border: 3px solid #DDDAD5;
            cursor: pointer;
            transform: translateY(-50%);
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            background: #DDDAD5;
            left: ($radio-size/4);
            width: $radio-size/2;
            height: $radio-size/2;
            transition: all 100ms ease-out;
            transform: translateY(-50%) scale(0);
        }
    }

    .b-input[type="radio"] + & {
        &:before {
            border-radius: 50%;
        }
        &:after {
            border-radius: 50%;
        }
    }
    

    .b-input[type="radio"]:not(:checked) + &:hover:after,
    .b-input[type="checkbox"]:not(:checked) + &:hover:after {
        transform: translateY(-50%) scale(0.5);
    }
    .b-input[type="radio"]:checked + &:after,
    .b-input[type="checkbox"]:checked + &:after {
        transform: translateY(-50%) scale(1);
        background-color: darken(#DDDAD5, 10%);
    }
    
}

.gform_wrapper {
    input[type="radio"] {
        @extend .b-input[type="radio"];
    }
    input[type="checkbox"] {
        @extend .b-input[type="checkbox"];
    }
    input[type="radio"] + label,
    input[type="checkbox"] + label {
        @extend .b-label;
    }
}