.masthead {
    background: $tan;
    @include media($md) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 910;
        pointer-events: none;
        background: transparent;
    }
    
    .admin-bar & {
        @include media($md) {
            top: 46px;
        }
        @include media(783px) {
            top: 32px;
        }
    }
}
