.masthead {
    background: $tan;
    @include media($md) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 910;
        pointer-events: none;
        background: transparent;
    }
}
