.menu-item {    
    .header-menu & {        
        @include display(none);
        border-top: 1px solid shade( $tan, 10%);
        margin-top: 0;
        a {
            @include display(block);
            @extend .u-font-miller-bold;
            font-size: rem(14);
            text-transform: uppercase;
            color: $dark-gray;
            margin: rem(6) 0;
            @extend .u-transition-300;
            &:focus {
                color: $dark-gray;
            }
        }
        &.current_page_item {
            @include display(block);
        }
        &.current-menu-parent {
            @include display(block);
        }
    }
    .sub-menu & {
        margin-top: 0;
        a {
            color: shade( $tan, 25% );
            &:hover {
                color: $red;
            }
        }  
    }
}
