/**
 * Module Parts
 */
.module {
    @extend .section;
    &.has-background {
        background-size: cover;
        background-position: center center;
    }
    &.has-image {
        padding-top: 0;
    }
}
.module__image {
    height: rem(256);
    background-size: cover;
    background-position: center;
    @extend .u-mb-4;
}
.module__content {
    @extend .section__content;
    .module--basic &,
    .module--carousel & {
        @include flex-wrap(wrap);
    }
    .module--hero & {
        height: 100%;
        @extend .u-flex-items-center;
    }
}
.module__header {
    @extend .section__header;
}
.module__body {
    flex: 1 0 75%;
    p {
        [class*='u-bg-'] & {
            color: $tan;
            border-color: rgba(255,255,255,.15);
        }
        .u-bg-white &,
        .u-bg-light-gray &,
        .u-bg-tan & {
            color: $dark-gray;
            border-color: rgba(0,0,0,.15);
        }
    }
    .module__header+& {
        @extend .u-mt-4;
    }
    .module--basic & {
        @extend .module__content;
    }
    .module--carousel & {
        max-width: 100%;
        width: 100%;
    }
    .has-sidebar & {
        @include flex-grow(0);
    }
    .page-header & {
        @extend .u-mt-2;
    }
}
.module__sidebar {
    flex: 0 0 25%;
    @extend .u-mt-4;
}
.module__footer {
    @extend .section__footer;
}
/**
 * Module Elements
 */
.module-title {
    @extend .section-title;
}
.module-row {
    @extend .module__content;
    flex: 1 100%;
    &+& {
        @extend .u-mt-4;
    }
}
.module-column {
    flex: 1 0 25%;
    padding: 0 rem(8);
}
/**
 * Module Types
 */
.module--basic {
    
}
.module--list {
    
}
.module--hero {
    height: rem(800);
}
.module--carousel {
    
}
