/**
 * Module Parts
 */
.module {
    @extend .section;
    &.has-image {
        padding-top: 0;
    }
}
.module__image {
    height: rem(448);
    background-size: cover;
    background-position: center;
    @extend .u-mb-4;
}
.module__content {
    .module--entry & {
        @include display(block);
    }
    .module--hero & {
        @include display(flex);
        @include flex-wrap(wrap);
        top: 100%;
        height: 100%;
        @include media($md) {
            top: 0;
            @include align-items(center);
        }
    }
}
.module__header {
    @extend .section__header;
}
.module__body {
    @extend .section__body;
    .module--video & {
        @include justify-content(center);
        display: flex;
    }
    .module--entry & {
        width: auto;
        margin-right: rem(240);@extend .u-pr-1;
        @include media($md) {
            padding-left: 6rem;
            padding-right: 6rem;
        }
        ul, ol {
            @extend .u-pl-2;
            list-style: initial;
            li {
                @extend .u-mt-1;
            }
        }
    }
    .module--carousel & {
        max-width: 100%;
        width: 100%;
    }

    .module--calendar & {
        display: flex;
        flex-direction: column;        
        justify-content: space-between;
        @include media($md)
        {
            flex-direction: row;
        }
    }
}
.module__sidebar {
    width: rem(240);
    float: right;
    @extend .u-font-size-sm;
}
.module__footer {
    @extend .section__footer;
}
/**
 * Module Elements
 */
.module-title {
    @extend .section-title;
}
.module-row {
    @include display(flex);
    @include flex-wrap(wrap);
    width: 100%;
    &+& {
        @extend .u-mt-4;
    }
}
.module-column {
    flex: 1 0 25%;
    padding: 0 rem(8);
}
/**
 * Module Types
 */
.module--hero {
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    @include media($md) {
        background-size: cover;
        background-position: center center;
    }
    .section__content,
    .module__content {
        min-height: rem(360);
        @include media($md) {
            min-height: rem(720);
        }  
    }  
}
