.participant--item
{    
    margin-bottom: 6rem;
    max-width: 30rem;
    margin-left:auto;
    margin-right:auto;
    width: 100%;

    @include media($md)
    {
        flex: 0 0 30%;
        min-width: 18rem;
    }


    .participant--name
    {
        margin-bottom: 1rem;
    }

    .participant--winner
    {
        background-color: #daa520;
        z-index: 18;
        max-width: 16rem;
        width: 68%;
        margin: 0 auto;
        padding: 1rem 2rem;
        text-align: center;
        margin-top: -1.8rem;
        color: white;
        letter-spacing: .1rem;
        font-weight: bold;
    }

    .participant--image
    {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 16rem;
    }

    .participant--text
    {
        padding-top: 1.6rem;
        color: white;
        text-align: center;
    }
}