.participant--item {
    margin-bottom: 6rem;
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    .single-participant &,
    .single-student_participant & {
        max-width: 100%;
        flex: 1;
        .participant--image {
            max-width: 26rem;
            margin: 0 auto;
        }
    }
    @include media($md) {
        flex: 0 0 30%;
        min-width: 18rem;
    }
    .participant--name {
        margin-bottom: 1rem;
    }
    .participant--winner {
        background-color: #daa520;
        position: relative;
        z-index: 18;
        max-width: 16rem;
        width: 68%;
        margin: 0 auto;
        padding: 1rem 2rem;
        text-align: center;
        margin-top: -1.8rem;
        letter-spacing: .1rem;
        font-weight: bold;
        color: white;
    }
    .participant--image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 22rem;
        filter: grayscale(100%);
        @extend .u-transition-300;
        &:hover {
            filter: grayscale(0%);
        }
        @include media($md)
        {
            min-height: 16rem;            
        }        
    }
    .participant--text {
        padding-top: 1.6rem;
        text-align: center;
        .u-bg-blue & {
            color: white;
        }
        .topic {
            font-style: italic;
        }
        .entry--title {
            font-size: 2rem;
        }
    }
}

.submissions--steps {
    margin-left: .8rem;
    margin-right: 1rem;
    .submissions--step {
        font-size: 1rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-left: 1px solid #d8d8d8;
        &:last-child {
            border-left: none;
            padding-bottom: 0;
        }
    }
    .submissions--step.step--inactive {
        .submissions--step-text {
            color: #d8d8d8;
        }
        .submissions--step-marker {
            .step--marker,
            .step--marker-inner {
                background-color: #d8d8d8;
            }
        }
    }
    .submissions--step.step--active {
        .submissions--step-text {
            color: $red;
        }
        .submissions--step-marker {
            .step--marker {
                background-color: white;
            }
            .step--marker-inner {
                background-color: $red;
            }
        }
    }
    .submissions--step-marker {
        display: flex;
        flex: 0 0 2.4rem;
        .step--marker {
            width: 28px;
            height: 28px;
            background-color: white;
            border: 1px solid #d8d8d8;
            border-radius: 32px;
            margin-left: -14px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .step--marker-inner {
            width: 20px;
            height: 20px;
            border-radius: 28px;
            display: block;
        }
    }
    .submissions--step-text {
        display: flex;
        flex: 1 1 75%;
        flex-direction: column;
        flex-wrap: wrap;
        color: black;
    }
}