.preface {
    padding-top: 2rem;
    @include media($md) {
        padding-top: rem(190); //masthead height
    }
}
.preface-text {
    p {
        @extend .u-mt-3;
    }
    [class*='u-bg-'] & {
        color: $tan;
    }
    .u-bg-white &,
    .u-bg-light-gray &,
    .u-bg-tan & {
        color: $dark-gray;
    }
    @include media($md) {
        margin: 0 $leading*6;
    }
}
.preface-button {
    width: rem(240);
    margin: rem(8);
    .button {
        @include display(block);
        padding-left: 0;
        padding-right: 0;
    }
}
