.preface {
    body.home & {
        padding-top: 6.75rem;
    }
}
.preface-text {
    p {
        @extend .u-mt-3;
    }
    [class*='u-bg-'] & {
        color: $tan;
    }
    .u-bg-white &,
    .u-bg-light-gray &,
    .u-bg-tan & {
        color: $dark-gray;
    }
    body.home & {
        @extend .h4;
        margin-left: rem(320);
        text-align: left;
    }
    @include media($md) {
        margin: 0 $leading*6;
    }
}
.preface-button {
    width: rem(240);
    margin: rem(8);
    .button {
        @include display(block);
        padding-left: 0;
        padding-right: 0;
    }
}
