.preface {
    
}
.preface-title {
    span {
        @include display(block); // line-break on every font change
        &:nth-child(2n) {
            font-style: italic;
        }
    }
    [class*='u-bg-'] & {
        color: white;
    }
    .u-bg-white &,
    .u-bg-light-gray &,
    .u-bg-tan & {
        color: $dark-gray;
    }
}
.preface-text {
    @extend .u-mx-6;
    [class*='u-bg-'] & {
        color: $tan;
    }
    .u-bg-white &,
    .u-bg-light-gray &,
    .u-bg-tan & {
        color: $dark-gray;
    }
}
