.section {
    overflow: hidden;
    @extend .u-py-4;
    .section .page & {
        padding: 0;
    }
}

.site-content {
    .page-content {
        section:first-child {
            padding-top: 4rem;
        }
    }
    section:first-child {
        padding-top: 4rem;
        @include media($md) {
            padding-top: 13rem;
        }
    }
}

.section__content {}

.section__header {
    @extend .u-mb-3;
}

.section__body {
    @extend .u-mt-3;
    h4,
    h5,
    h6 {
        @extend .u-mt-3;
    }
}

.section__footer {
    @extend .section__header;
    @extend .u-text-center;
    @extend .u-mt-4;
    .section__content & {
        margin-bottom: 0;
    }
    .preface & {
        @include media($md) {
            margin-left: $leading*6;
            margin-right: $leading*6;
        }
    }
}


/**
 * Section Elements
 */

.section-title {
    width: 100%;
    @extend .u-py-1;
    @extend .u-font-miller;
    @extend .u-text-center;
    font-size: rem(18);
    letter-spacing: .2rem;
    color: $dark-gray;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    word-wrap: break-word;
    [class*='u-bg-'] & {
        color: $tan;
        border-color: rgba(255, 255, 255, .15);
    }
    .u-bg-white &,
    .u-bg-light-gray &,
    .u-bg-tan & {
        color: $dark-gray;
        border-color: rgba(0, 0, 0, .15);
    }
}