// Colors
// ======================================= /
@each $color-name, $hex in $color_map {
	.u-color-#{$color-name} {
    	color: $hex !important;
	}
    .u-bg-#{$color-name} {
		background-color: $hex!important;
		@if lightness( $hex ) < 50 {
			color: white;
		}
	}
}
