// Typography
// --------------------------------------- /
.u-weight-light { font-weight: 300; }
.u-weight-normal { font-weight: 400; }
.u-weight-medium { font-weight: 500; }
.u-weight-bold { font-weight: 700; }
.u-caps { text-transform: uppercase; }
.u-font-size-xs { font-size: .5em; }
.u-font-size-sm { font-size: .75em; }
.u-font-size-lg { font-size: 1.5em; }
.u-font-size-xl { font-size: 2.5em; }
.u-font-size-max { font-size: 4em; }
.u-text-left { text-align: left; }
.u-text-center { text-align: center; }
.u-text-right { text-align: right; }

.u-font-rama-gothic {
    font-family: $rama-gothic; 
    text-transform: uppercase;
}

.u-font-rama-slab {
    font-family: $rama-slab; 
    text-transform: uppercase;
}

.u-font-miller {
    font-family: $miller-text-roman;
    font-style: Normal;
    font-weight: Normal;
}

.u-font-miller-italic {
    font-family: $miller-text-italic;
    font-style: Italic;
    font-weight: Normal;
}

.u-font-miller-bold {
    font-family:$miller-text-bold;
    font-style: Normal;
    font-weight: Normal;
}

.u-font-miller-bold-italic {
    font-family: $miller-text-bold-italic;
    font-style: Italic;
    font-weight: Normal;
}