// Typography
// --------------------------------------- /
.u-weight-light { font-weight: 300; }
.u-weight-normal { font-weight: 400; }
.u-weight-medium { font-weight: 500; }
.u-weight-bold { font-weight: 700; }
.u-caps { text-transform: uppercase; }
.u-font-size-sm { font-size: 75%; }
.u-font-size-lg { font-size: 125%; }
.u-font-size-xl { font-size: 150%; }
.u-text-left { text-align: left; }
.u-text-center { text-align: center; }
.u-text-right { text-align: right; }
